services:
  worker:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - .:/workspaces/predicoes-loterias-caixa
    working_dir: /workspaces/predicoes-loterias-caixa
    command: tail -f /dev/null
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      - PYTHONPATH=/workspaces/predicoes-loterias-caixa
